<div class="container-fluid px-3 px-xs-5">
  <div
    class="row d-flex justify-content-start flex-wrap align-items-start py-2"
  >
    <div class="d-flex col-sm-2 p-4 h-200px border border-radius-xl">
      <div class="d-flex justify-content-between flex-column pr-12">
        <span class="fs-5 text-color-text-insight font-weight-bold mb-2"
          >World Population <span class="year_selected"></span
        ></span>
        <div>
          <span
            class="fs-2 text-color-text-insight font-weight-bold mb-2 total_population"
          ></span>
        </div>
      </div>
    </div>
    <div
      class="d-flex col-sm-4 h-200px border border-radius-xl border-left-width-0"
    >
      <div class="w-100" id="trend-line-chart"></div>
    </div>
  </div>
  <div
    class="row d-flex justify-content-start flex-wrap align-items-start py-2"
  >
    <div class="d-flex col-sm-8 sp-width sp-height">
      <div class="w-100" id="scatter-plot">Population Growth vs Density Correlation</div>
    </div>
  </div>
</div>
