<div class="container-fluid px-3 px-xs-5">
    <div class=" row d-flex justify-content-start flex-wrap align-items-start py-2 ">
        <div class="d-flex col-sm-2 p-4 h-200px border border-radius-xl">
            <div class="d-flex justify-content-between flex-column pr-12">
                <span class="fs-5 text-color-text-insight font-weight-bold mb-2 ">India’s Total Export Value</span>
                <div>
                    <span class="fs-2 text-color-text-insight font-weight-bold mb-2 total_export_achieved">$402.44
                        Bn</span>
                </div>
            </div>
        </div>
        <div class="d-flex col-sm-4 h-200px border border-radius-xl border-left-width-0">
            <div class="" id="trend-line-chart">
                trend-line-chart
            </div>
        </div>
    </div>
    <div class=" row d-flex justify-content-start flex-wrap align-items-start py-2">
        <div class="d-flex col-sm-8 sp-height border border-radius-xl">
            <div class="" id="scatter-plot">
                scatter-plot
            </div>
        </div>
    </div>
</div>