{% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/style.scss') }}"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Population Analysis</title>
{% endblock head %} {% block content %}
<body>
  <div class="container border border-dark border-4">
  {% include 'navbar.html' %} {% include 'contents.html' %}
  </div>
</body>
{% include 'footer.html' %} {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="../static/js/components/line_area_chart.js"></script>
<script src="../static/js/components/scatter_plot.js"></script>
<script src="../static/js/common.js"></script>
